In [4]:
import pandas as pd

In [22]:
data = pd.read_csv('../data/train.csv')

Dataset Description
The dataset for this competition (both train and test) was generated from a deep learning model trained on the Gemstone Price Prediction dataset. Feature distributions are close to, but not exactly the same, as the original. Feel free to use the original dataset as part of this competition, both to explore differences as well as to see whether incorporating the original in training improves model performance.

Files
train.csv - the training dataset; price is the target
test.csv - the test dataset; your objective is to predict price
sample_submission.csv - a sample submission file in the correct format

In [9]:
data.head(20)

    id  carat        cut color clarity  depth  table     x     y     z  price
0    0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1    1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2    2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3    3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4    4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
5    5   1.51  Very Good     J     SI1   62.8   58.0  7.34  7.29  4.59   7506
6    6   0.74      Ideal     E     VS2   61.8   57.0  5.76  5.79  3.57   3229
7    7   1.34    Premium     G     SI2   62.5   57.0  7.00  7.05  4.38   6224
8    8   0.30      Ideal     F      IF   62.0   56.0  4.35  4.37  2.70    886
9    9   0.30       Good     J     VS1   63.6   57.0  4.26  4.28  2.72    421
10  10   1.01  Very Good     G     VS2   63.1   57.0  6.40  6.34  4.03   5914
11  11   0.23      Ideal     E    VVS2   62.0   57.0  3.96  3.98  2.46    505
12  12   1.01       Good     D     SI1   63.1   56.0  6.41  6.35  4.03   5703
13  13   0.31      Ideal     G    VVS1   61.8   56.0  4.37  4.39  2.71    789
14  14   1.01       Good     H     SI1   62.6   59.0  6.34  6.40  3.99   4612
15  15   0.33    Premium     E     VS2   61.7   59.0  4.39  4.43  2.72    723
16  16   1.06    Premium     E     SI2   60.9   59.0  6.61  6.56  4.01   4399
17  17   0.26  Very Good     F    VVS2   61.7   57.0  4.10  4.13  2.53    574
18  18   1.01    Premium     G    VVS1   61.8   58.0  6.44  6.37  3.96   8701
19  19   0.73  Very Good     G     VS2   63.1   57.0  5.77  5.75  3.63   2652

In [11]:
data.shape # size of the data (how much memory it will occupy)

(193573, 11)

In [12]:
data.isnull() #Find null value in data , there is no null data

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
193568,False,False,False,False,False,False,False,False,False,False,False
193569,False,False,False,False,False,False,False,False,False,False,False
193570,False,False,False,False,False,False,False,False,False,False,False
193571,False,False,False,False,False,False,False,False,False,False,False
193572,False,False,False,False,False,False,False,False,False,False,False

In [13]:
data.info() # It is info of all the datatypes of the data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [15]:
data.columns # will get all the cols of data

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [23]:
#data.drop(labels=['id'],axis=1) 
# here we are dropping id because it is not required uit is just a unique id, it doesn't define any pattern in data.
#data 
# here you are seeing that we are still getting id after dropping it becaue we are not changed to original data ,
#  so to change in original data we have to use another attribute
#  INPLACE = TRUE. Let's see.

data.drop(labels=['id'],axis=1,inplace=True)
data# here will you not see the ID col.

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [18]:
data

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [26]:
# redundancy = duplicate in row
data.duplicated() # will give all the duplicate rows

print(data.duplicated().sum()) # will do sum of all the true (duplicate) rows.

0

# Categorize or Seggeragate the data

In [28]:
data.dtypes # here we have different dtypes. so to categorize them in same datat types we have to write this code:

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [34]:
cat_cols = data.columns[data.dtypes=='object'] # this is the cols which have object dtypes.

In [36]:
data[cat_cols] # here we have categorize the data of Object datatype.

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [38]:
# Similarly we do for other data type
num_cols = data.columns[data.dtypes!='object']

In [40]:
data[num_cols]

        carat  depth  table     x     y     z  price
0        1.52   62.2   58.0  7.27  7.33  4.55  13619
1        2.03   62.0   58.0  8.06  8.12  5.05  13387
2        0.70   61.2   57.0  5.69  5.73  3.50   2772
3        0.32   61.6   56.0  4.38  4.41  2.71    666
4        1.70   62.6   59.0  7.65  7.61  4.77  14453
...       ...    ...    ...   ...   ...   ...    ...
193568   0.31   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34   62.9   55.0  4.45  4.49  2.81    681
193572   0.71   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 7 columns]

In [41]:
data[num_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   carat   193573 non-null  float64
 1   depth   193573 non-null  float64
 2   table   193573 non-null  float64
 3   x       193573 non-null  float64
 4   y       193573 non-null  float64
 5   z       193573 non-null  float64
 6   price   193573 non-null  int64
dtypes: float64(6), int64(1)
memory usage: 10.3 MB